/* Color Codes */

$brand: #00afab;
$light_brand: #99dfdd;
$white: #ffffff;
$black: #000000;

/* Grid Properties */
$grid__cols: 12;

/* Responsive design breakpoints */

$x_large: 1680px;
$large: 1024px;
$mediam: 768px;
$small: 567px;
$x_small: 375px;
